.digit-group input {
	width: 50px;
	height: 50px;
	border: solid 1px #bdbdbd;
	border-radius: 8px;
	text-align: center;
	margin: 20px 20px 20px 0px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: black;
	overflow: visible;
	padding: 1px 2px;

	
	}
	input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.errorInputBox{
	border: 1px solid red !important;
}

